In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve,scorer
import dill
dill._dill._reverse_typemap['ClassType'] = type

C:\Users\aermo\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

In [3]:
X_test.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,9395,15615753,Upchurch,597,Germany,Female,35,8,131101.04,1,1,1,192852.67,0
1,899,15654700,Fallaci,523,France,Female,40,2,102967.41,1,1,0,128702.10,1
2,2399,15633877,Morrison,706,Spain,Female,42,8,95386.82,1,1,1,75732.25,0

In [4]:
with open('RandomForest.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

In [5]:
predictions = pipeline.predict_proba(X_test)
pd.DataFrame({'preds': predictions[:, 1]}).to_csv("test_predictions.csv", index=None)

In [6]:
roc_auc_score(y_score=predictions[:, 1][:], y_true=y_test.iloc[:])

0.8611734139580963